Calculator/src/conf/xml-resources/web-service-references/Calcular/wsdl/localhost_8080/Calcular/Calcular.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack1/" name="Calcular">
<types>
<xsd:schema>
<xsd:import namespace="http://pack1/" schemaLocation="http://localhost:8080/Calcular/Calcular?xsd=1"/>
</xsd:schema>
</types>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="Calcular">
<operation name="restar">
<input wsam:Action="http://pack1/Calcular/restarRequest" message="tns:restar"/>
<output wsam:Action="http://pack1/Calcular/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pack1/Calcular/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pack1/Calcular/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://pack1/Calcular/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://pack1/Calcular/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://pack1/Calcular/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://pack1/Calcular/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://pack1/Calcular/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://pack1/Calcular/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="CalcularPortBinding" type="tns:Calcular">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calcular">
<port name="CalcularPort" binding="tns:CalcularPortBinding">
<soap:address location="http://localhost:8080/Calcular/Calcular"/>
</port>
</service>
</definitions>