clienteWSOperaciones/xml-resources/web-service-references/Calcular/wsdl/localhost_8080/Calcular/Calcular.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://pack1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pack1/">

<xs:element name="dividir" type="tns:dividir"/>

<xs:element name="dividirResponse" type="tns:dividirResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="multiplicar" type="tns:multiplicar"/>

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

<xs:element name="restar" type="tns:restar"/>

<xs:element name="restarResponse" type="tns:restarResponse"/>

<xs:element name="sumar" type="tns:sumar"/>

<xs:element name="sumarResponse" type="tns:sumarResponse"/>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="in1" type="xs:int"/>
<xs:element name="in2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumar">
<xs:sequence>
<xs:element name="in1" type="xs:int"/>
<xs:element name="in2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="in1" type="xs:int"/>
<xs:element name="in2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restar">
<xs:sequence>
<xs:element name="in1" type="xs:int"/>
<xs:element name="in2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>